.jumbotron {
  padding: 0.5em 0.5em;
}

.with-bottom-margin {
  margin-bottom: 30px;
}

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.tempData
{
	border: 1px solid #333;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  display: none;
}

.table {
  display: none;
}
